.about {
  padding: 50px 20px;
  box-sizing: border-box;
  background: #EEAECA;
  background: linear-gradient(180deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 48%);
}

.about-heading h1 {
  text-align: center;
  font-size: 3rem;
  color: #000;
  margin: 0;
  padding-bottom: 40px;
}

.about-description {
  text-align: center;
  padding: 0 20px 50px 20px;
}

.about-description h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000;
}

.about-description p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #000;
}

.about-content {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-box {
  flex: 1 1 300px;
  min-width: 280px;
  max-width: 350px;
  padding: 25px;
  background: #F2F2FA;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, background 0.3s ease;
}

.about-box:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.5);
}


.about-box h2 {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 15px;
}

.about-box p,
.about-box ul,
.about-box ol {
  color: #000;
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 1.5;
}

.about-box ul,
.about-box ol {
  padding-left: 20px;
}

.about-box li {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .about-heading h1 {
    font-size: 2.5rem;
  }

  .about-description h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 576px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-box {
    width: 100%;
    max-width: 90%;
  }
}