
/* Smooth Animated Gradient */
/* ===== Smooth Moving Gradient Background ===== */

.gradient-background {
  background: linear-gradient(300deg, #000000, #444444, #000000, #444444, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Hover Underline Effect */

.hover-underline {
  position: relative;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.1em;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

/* No Text Selection */

.no-select {
  -webkit-user-select: none;
  /* for Safari/Chrome */
  -moz-user-select: none;
  /* for Firefox */
  -ms-user-select: none;
  /* for IE/Edge */
  user-select: none;
  /* standard */
}