header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #333; 
    box-sizing: border-box;
}

header h1 {
    color: #fff;
    font-size: 2em;
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}

/* ---- Tablets ---- */
@media (max-width: 1024px) {
    header {
        padding: 0 30px;
    }
    header h1 {
        font-size: 1.75em;
    }
}

/*---- Mobile ----*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    header h1 {
        margin-bottom: 10px;
        text-align: center;
    }
  
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
