.main3{
    background-color: #F2F2FA;
    padding: 40px 0 40px 0;
}

.main3-heading{
    font-size: 1.5em;
    color: #000;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.card img {
  width: 100%;
  height: 180px;          
  object-fit: cover;     
  border-radius: 8px;
}

.card h2 {
  font-size: 1.2rem;
}

.card p {
    color: #000;
  font-size: 0.95rem;
  line-height: 1.4;
}
@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
