.main {
  margin-bottom: 55px;
}

.form p{
  font-size: 1.2em;
  color: #ccc;
}

.main-heading h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.main-content {
  padding: 20px;
}

.main-text {
  height: 100px;
  width: 600px;
  margin: 10px;
  padding: 15px 20px;
  font-size: 1.1em;
  border: 2px solid #555;
  border-radius: 10px;
  outline: none;
}

.main-plane-area {
  width: 600px;
  margin: 10px;
  padding: 15px 20px;
  font-size: 1em;
  background-color: #000;
  border: none;
  border-bottom: 2px solid #00ffff;
  outline: none;
  color: white;
}

.main-plane-area :focus {
  border-bottom: 2px solid #00ffff;
}

.main-box {
  margin: auto;
  width: 850px;
  background: black;
  padding: 25px;
  border-radius: 15px;
}

.main-button {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px 40px;
  font-size: 1.2em;
  font-weight: bold;
  background: #00ffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.main-button:hover {
  transform: scale(1.05) rotateX(2deg) rotateY(-2deg);
}

.main-icons-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  padding: 10px;
  align-items: flex-start;
}

.main-icons {
  width: 120px;
  margin: auto;
  padding: 5px;
  border: #000;
  border-radius: 5px;
  background-color: #000000c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-icons p {
  margin-top: 8px;
  font-size: 1em;
  font-weight: 550;
  color: #00ffff;
  text-align: center;
}


.icons-color {
  color: #00ffff;
}

.main-icons:hover {
  background-color: #474646;
  transform: scale(1.05) rotateX(2deg) rotateY(-2deg);
}

@media (max-width: 576px) {
  .main-box {
    height: auto;
    width: auto;
    padding: 10px;
  }

  .main-plane-area {
    height: auto;
    width: auto;
    margin-block: auto;
  }

  .main-button {
    height: auto;
    width: auto;
    padding: 10px;
  }

  .main-text {
    width: auto;
    height: auto;
  }
}